.Marindex-Row {
    margin-top: 30px;
    border-bottom-color: rgb(102, 46, 42);
    border-bottom-width: 10px;
}

#StatContainer .unity-text-element {
    font-size: 46px;
    color: rgb(55, 20, 5);
}

#AgilityRow {
}

#StatsLabel {
    font-size: 85px;
    color: rgb(55, 20, 5);
    display: flex;
}
