.PauseButton {
    color: rgb(211, 226, 245);
    font-size: 100px;
    -unity-font-style: bold;
    -unity-text-align: upper-left;
    -unity-text-outline-color: rgb(0, 0, 0);
    -unity-text-outline-width: 2px;
    text-shadow: 1px 4px 0 rgb(0, 0, 0);
}

.PauseButton:hover {
    color: rgb(145, 194, 255);
    transition-duration: 0.1s;
    scale: 1.1 1.1;
}

.PauseButton:focus {
    color: rgb(145, 194, 255);
    transition-duration: 0.1s;
    scale: 1.1 1.1;
}
